// maginkgo@m:~/Proyectos/Django/Backends/static/css$ stylus -w -c main.styl

color1=#778610
color2=#DABA00
color3=#3C5320
color4=#5FB107
color5=#DCAB03
color6=#CAE403

body
	background white
	font-size 16px
	margin 20px

h4
	text-align center

.color1
	background color1

.color2
	background color2

.color3
	background color3

.amarillo
	background yellow
	
.verde
	background green


.caja
	margin-bottom 16px

.icono
	font-size 45px



