{% extends "base.html" %}

{% block title %}Iconos Fuentes{% endblock title %}

{% block contenido %}
<button><a href="javascript:history.go(-1)">Atrás</a></button>

<div class="container">
	<h2><a href="http://getbootstrap.com/components/">Glyphicons</a></h2>
	<span class="glyphicon glyphicon-asterisk icono"></span>
	<span class="glyphicon glyphicon-plus icono"></span>
	<span class="glyphicon glyphicon-minus icono"></span>
	<span class="glyphicon glyphicon-could icono"></span>
	<span class="glyphicon glyphicon-envelope icono"></span>
	<span class="glyphicon glyphicon-pencil icono"></span>
	<span class="glyphicon glyphicon-music icono"></span>
	<span class="glyphicon glyphicon-search icono"></span>
	<span class="glyphicon glyphicon-heart icono"></span>
	<span class="glyphicon glyphicon-star icono"></span>
	<span class="glyphicon glyphicon-star-empty icono"></span>
	<span class="glyphicon glyphicon-user icono"></span>
	<span class="glyphicon glyphicon-th-large icono"></span>
	<span class="glyphicon glyphicon-film icono"></span>
	<span class="glyphicon glyphicon-th icono"></span>
	<span class="glyphicon glyphicon-th-list icono"></span>
	<span class="glyphicon glyphicon-ok icono"></span>
	<span class="glyphicon glyphicon-remove icono"></span>
	<span class="glyphicon glyphicon-off icono"></span>
	<span class="glyphicon glyphicon-trash icono"></span>
	<span class="glyphicon glyphicon-home icono"></span>
	<span class="glyphicon glyphicon-download icono"></span>
	<span class="glyphicon glyphicon-play-circle icono"></span>
	<span class="glyphicon glyphicon-repeat icono"></span>
	<span class="glyphicon glyphicon-play icono"></span>
	<span class="glyphicon glyphicon-left icono"></span>
	<span class="glyphicon glyphicon-right icono"></span>
	<span class="glyphicon glyphicon-comment icono"></span>
	<span class="glyphicon glyphicon-tower icono"></span>
	
	<h2><a href="http://icomoon.io/">Icomoon</a></h2>
	<div>
		<span class="icon-googleplus icono"></span>
		<span class="icon-googleplus2 icono"></span>
		<span class="icon-googleplus3 icono"></span>
		<span class="icon-facebook icono"></span>
		<span class="icon-facebook2 icono"></span>
		<span class="icon-facebook3 icono"></span>
		<span class="icon-twitter icono"></span>
		<span class="icon-twitter2 icono"></span>
		<span class="icon-twitter3 icono"></span>
		<span class="icon-youtube icono"></span>
		<span class="icon-youtube2 icono"></span>
	</div>
	<div>
		<button class="btn btn-primary">
			<span class="icon-googleplus"> Google+</span>
		<button class="btn btn-primary">
			<span class="icon-googleplus2"> Google+</span>
		<button class="btn btn-primary">
			<span class="icon-googleplus3"> Google+</span>
		<button class="btn btn-primary">
			<span class="icon-facebook"> Facebook</span>
		<button class="btn btn-primary">
			<span class="icon-facebook2">Facebook</span>
		<button class="btn btn-primary">
			<span class="icon-facebook3"> Facebook</span>
		<button class="btn btn-primary">
			<span class="icon-twitter"> Twitter</span>
		<button class="btn btn-primary">
			<span class="icon-twitter2"> Twitter</span>
		<button class="btn btn-primary">
			<span class="icon-twitter3"> Twitter</span>
		<button class="btn btn-primary">
			<span class="icon-youtube"> Youtube</span>
		<button class="btn btn-primary">
			<span class="icon-youtube2"> Youtube</span>
	</div>

</div>

{% endblock contenido %}